.cart_table {
  width: 80%;
  margin: 20px auto;
}

.cart__orderSummary {
  width: 25%;
  margin-top: 40px;
  margin-inline: 200px;
}
.cart__orderSummary h4 {
  padding: 1em;
  background: #3399cc;
  font-size: 1.1em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 1em;
}

.cart__orderSummary ul li {
  list-style-type: none;
  margin-bottom: 1em;
  font-size: 14px;
  color: #999;
}
.cart__orderSummart--list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: -40px;
}

.cart__button {
  width: 100%;
  background-color: #fe9126 !important;
}
.cart__button:hover {
  background-color: #3399cc !important;
  color: #fff;
  font-weight: 800;
}

.cart__quantity > select {
  min-width: 100%;
}
