.singleProduct {
  margin: 100px;
}

.singleProduct__content {
  max-width: 540px;
}

.singleProduct__img {
  width: 300px;
  display: flex;
  padding: 20px;
}

.singleProduct__title {
  display: flex;
  flex-direction: column;
}

.singleProducr__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.singleProduct__description {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}
.singleProduct__description--detail {
  text-align: left;
}

.singleProduct__price {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.singleProduct__qty {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.singleProduct__qty--select {
  cursor: default;
  width: 100px;
  height: 40px;

  line-height: 24px;
  border: 1px solid #e5e5e5;

  text-align: center;

  margin-left: 30px;
}

.singleProducr__right--btn:hover {
  background-color: #fe9126;
}
