.singleProduct {
  margin: 100px;
}

.singleProduct__content {
  max-width: 540px;
}

.singleProduct__img {
  width: 300px;
  display: flex;
  padding: 20px;
}

.singleProduct__title {
  display: flex;
  flex-direction: column;
}

.singleProducr__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.singleProduct__description {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}
.singleProduct__description--detail {
  text-align: left;
}

.singleProduct__price {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.singleProduct__qty {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.singleProduct__qty--select {
  cursor: default;
  width: 100px;
  height: 40px;

  line-height: 24px;
  border: 1px solid #e5e5e5;

  text-align: center;

  margin-left: 30px;
}

.singleProducr__right--btn:hover {
  background-color: #fe9126;
}

.cart__img {
  width: 130px;
  height: 130px;
}

.cart__itemName {
  text-decoration: none;
  color: black;
}

.cart__quantity > select {
  border: 2px solid;
  border-radius: 10px;
  padding: 9px;
  width: 50%;
}

.cart__itemName:hover {
  text-decoration: none;
  color: #fe9126;
}

.cart__remove :hover {
  color: red;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
